<div class="container-fluid">

  <form (ngSubmit)="submitQuotes()">
    <div class="form-group">
      <label for="quote">Quote:</label>
      <textarea  rows="4" class="form-control" [(ngModel)]="newQuote.quote" name="quote" required></textarea>
    </div>

    <br>

    <div class="form-group">
      <label for="author">Author:</label>
      <input class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" required>
    </div>

    <br>

    <div class="form-group">
      <label for="Submitter">Submitted By:</label>
      <input class="form-control" id="submitter" name="submitter" [(ngModel)]="newQuote.submitter">
    </div>

    <br>

    <button type="submit" name="button" class="btn-sm btn-primary">Submit Quote</button>
  </form>

</div>
