<div class="container">
  <h1>Quotes</h1>


  <div *ngFor='let quote of quoted;let i = index'>

    <p> {{quote.author|titlecase}}- "{{quote.quote}}"</p>
      <button  type="button" (click)="toggleDetails(i)">View</button>
    <button type="button" (click)= "upVote(i)">Like</button>
    <button type="button"  (click)= "downVote(i)">Dislike</button>
    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'quoteComplete($event,i)'></app-quote-details>
  </div>
  <!-- <br>
  <br>

<app-quotes-form (addQuote)="addNewQuotes($event)"></app-quotes-form> -->

</div>
